/*MAIN MENU STARTS*/
.mainmenu {
  overflow: hidden;
  background: #eeeeee;
  border-bottom: 2px solid #aaaaaa; /*bottom horizontal line that runs beneath tabs*/
}

.mainmenu ul {
  margin: 0px;
  padding: 0px;
  font: bold 11px Verdana;
  list-style-type: none;
}

.mainmenu li {
  display: inline;
  margin: 0px;
}

.mainmenu li a {
  float: left;
  display: block;
  text-decoration: none;
  margin: 0px;
  padding: 7px 8px; /*padding inside each tab*/
  background: #dddddd; /*background of tabs (default state)*/
  border-right: 1px solid white; /*right divider between tabs*/
  color: #333333;
}

.mainmenu li a:visited {

}

.mainmenu li a:hover, .mainmenu li.selected a {
  background: #aaaaaa; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
}
/*MAIN MENU ENDS*/

/*SUB MENU STARTS*/
.submenu {
  position:absolute;
  top: 30px; bottom: 2px;
  width: 200px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #eeeeee;
  border-right: 2px solid #aaaaaa;
}

.submenu .submenuheader{
  background: #aaaaaa;
  border-bottom: 2px solid white;
  font: bold 11px Verdana;
  padding: 5px 0px 5px 0px;
  text-align: center;
  color: #333333;
}

.submenu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.submenu a {
  display: block;
  text-decoration: none;
  padding: 5px 0px 5px 5px;
  color: #333333;
  background: #dddddd;
  border-bottom: 1px solid white;
}

.submenu a:visited {

}

.submenu a:hover, .submenu li.selected a {
  background: #aaaaaa;
}
/*SUB MENU ENDS*/
